.wrapper {
margin-top: 10rem;
@media only screen and(min-height: 200px) {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @media only screen and (max-width: 420px) {
        margin-top: 7rem;
        h1 {
            margin-bottom: 0;
            margin-left: 1rem;
            margin-top: 0;
        }
        form {
            // height: 65vh;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            label {
                font-size: 1.25rem;
            }
        }
    
    }
    @media only screen and (min-width: 421px) and (max-width: 850px) and (max-height:420px) {
        margin-top: 4rem;   
        height: 65vh;
        h1 {
            margin-bottom: 0;
        }
        form {
            // height: 65vh;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            label {
                font-size: 1.25rem;
            }
        }


    }
}

#name,#email,#subject,#message, textarea {
    background-color: #3ae5fd;
    width: 90vw;
}
textarea {
    height: 13vh;
}
label {
    margin-top: 1rem;
}

#submit {
    cursor: pointer;
    background-color: transparent;
	color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    border: unset;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    @media only screen and (min-width: 1025px) {
        margin-right: 4.5vw;
    }
    margin-right: 3.5vw;
    &:hover {
        color: black;
    }
    // @media only screen and (max-width: 1024px) {
    //     margin-right: 2rem;
    // }
}

.tablet {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.desktop {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}  
#desktop {
    margin-left: 5.5vw;
}

.landscape-tablet {
    @media only screen and(max-height: 800px) {
        height: 55vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        #name,#email,#subject,#message, textarea {
            background-color: #3ae5fd;
            width: 90vw;
        }
        
    }
}
}